{% if page.is_changelogs %}
  {% assign selected_topbar_item = 'changelogs' %}
{% elsif page.is_reduced_test_cases %}
  {% assign selected_topbar_item = 'reduced_test_cases' %}
{% else %}
  {% assign selected_topbar_item = 'docs' %}
{% endif %}

<div class='topbar'>
  <div class='topbar__container container'>

    <div class='topbar__branding'>
      <a class='branding' href='{{ site.baseurl }}/'>
        <div class='branding-graphic'></div>
        <div class='branding-text'>FullCalendar Legacy</div>
      </a>
    </div>

    <div class='topbar__nav'>
      <div class='topbar__nav-item {%
        if selected_topbar_item == 'docs'
      %}topbar__nav-item--selected{%
        endif
      %}'>
        <a class='topbar__nav-handle' href='{{ site.baseurl }}/'>
          Docs
        </a>
      </div>
      <div class='topbar__nav-item {%
        if selected_topbar_item == 'changelogs'
      %}topbar__nav-item--selected{%
        endif
      %}'>
        <a class='topbar__nav-handle' href='{{ site.baseurl }}/changelogs'>
          Changelogs
        </a>
      </div>
      <div class='topbar__nav-item {%
        if selected_topbar_item == 'reduced_test_cases'
      %}topbar__nav-item--selected{%
        endif
      %}'>
        <a class='topbar__nav-handle' href='{{ site.baseurl }}/reduced-test-cases'>
          Debug Templates
        </a>
      </div>
    </div>

    <div class='topbar__github'>
      <a class='topbar__github-link' href='{{ site.repo_url }}' target='_blank'>
        <div class='topbar__github-graphic'></div>
      </a>
    </div>

  </div>
</div>
